.Login {
  max-width: 40vw;
  background-color: rgb(90, 175, 255);
  border: 0.1rem solid white;
  padding: 1rem 0.7rem;
  display: grid;
  gap: 0.5rem;

  .title {
    margin: 0;
    text-align: center;
  }

  .userData {
    display: grid;
    gap: 0.3rem;
    margin-bottom: 0.7rem;
  }

  .btn {
    min-height: 2rem;
    min-width: 40vw;
    justify-self: center;
  }

  .message {
    margin: 0;
    margin-top: 0.5rem;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}
