.Login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  .container {
    min-width: 50vw;
    max-width: 60vw;
    background-color: rgb(90, 175, 255);
    border: 0.1rem solid white;
    padding: 1rem 0.7rem;
    display: grid;
    gap: 0.5rem;

    .title {
      margin: 0;
      text-align: center;
    }

    .Go {
      margin-top: 0.5rem;
      min-height: 2rem;
    }

    .message {
      margin: 0;
      text-align: center;

      a {
        text-decoration: none;
      }
    }
  }
}
