@import 'common/scss/sizes.scss';
@import 'common/scss/colors.scss';

.Login {
  width: $floating-box-width;
  background-color: $little-box-background;
  border: 0.1rem solid white;
  padding: 1rem 0.7rem;
  display: grid;
  gap: 0.5rem;

  .title {
    margin: 0;
    text-align: center;
  }

  .userData {
    display: grid;
    gap: 0.3rem;
    margin-bottom: 0.7rem;
  }

  .btn {
    width: 100%;
    min-height: 2rem;
    justify-self: center;
  }

  .message {
    margin: 0;
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  @media only screen and (max-width: $small-device-max-width) {
    width: $floating-box-small-device-width;
  }
}
