$icon-size: 1.15rem;

.GoogleSignIn {
  width: 100%;
  min-height: 2rem;
  justify-self: center;

  .logo {
    width: $icon-size;
    height: $icon-size;
    margin: 0 0.2rem;
    background-size: cover;
    background-position: center;
    background-image: url('/common/assets/images/google.png');
  }
}
